
html{
    background-color: hsl(185, 75%, 39%);
}

#container{
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    height: 375px;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: hsl(0, 0%, 59%);
    max-width: 400px;
    margin: auto;
    font-family: "Kumbh Sans", sans-serif;
    box-shadow: 0 0 6em hsl(0, 0%, 20%);
    box-shadow: 0 0 6em hsl(0, 0%, 20%);
}

#background-top{
    background-image: url(./images/bg-pattern-card.svg);
    box-sizing: border-box;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image{
    background-image: url(./images/image-victor.jpg);
    border-radius: 50%;
    border: 5px solid white;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 96px;
    height: 96px;
}

#card-info{
    margin-top: 75px;
}

#title{
    color: hsl(229, 23%, 23%);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#idade{
    color: hsl(0, 0%, 59%);
    margin-left: 7px;
    font-weight: normal;
}

#cidade{
    text-align: center;
    margin-top: -8px;
}
#area-numerica{
    border-top: 1px hsl(0, 0%, 59%, 50%) solid;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 12px;
}

.number{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: bold;
    display: flex;
}

.number p{
    padding: 20px;
}
.stat-heading{
    display: flex;
    box-sizing: border-box;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}

.stat-heading.-second{
    display: flex;
    box-sizing: border-box;
}